<form action="testreg.php" method="post"></form>

<form action="testreg.php" method="post">
    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
        <input name="login" type="text" class="form-control form-control-lg"
               placeholder="Login">
    </div>
    <div class="form-group has-icon"><i class="icon-user-secret"></i>
        <input name="password" type="text" class="form-control form-control-lg"
               placeholder="Password">
    </div>
    <input type="submit" class="btn btn-success btn-lg btn-block" value="Log In">
    <p class="forget-pass">Have you forgot your username or password ?</p>
</form>